footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue-dark);
  font-weight: bolder;
  position: relative;
  bottom: 0;
}

footer span {
  color: var(--details);
}
