section#home {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
}

section#home p,
section#home span {
  font-size: clamp(3rem, 4rem, 5vw);
}

section#home p {
  width: 80%;
  margin: 0 auto;
}

section#home button {
  background-color: transparent;
  padding: 10px;
  letter-spacing: 2px;
  border-radius: 8px;
  border: 2px dashed var(--blue-dark);
  cursor: pointer;
  margin-top: 20px;
}

section#home span {
  color: var(--details);
}

section#home button:hover {
  border-style: solid;
  background: var(--blue-dark);
  color: var(--blue-light);
}

section#sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 85%;
  margin: auto;
  gap: 40px;
}

section#sobre .perfil {
  width: 40%;
  height: 60%;
}

section#sobre .perfil img {
  width: 100%;
  height: 100%;
  border-radius: 10px 2px;
}
section#sobre .sobre-mim {
  text-align: justify;
  width: 50%;
}

section#habilidades {
  text-align: center;
  width: 100%;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

section#habilidades .about-sckill {
  width: 50%;
  color: var(--blue-light);
}

section#habilidades .about-sckill p {
  width: 80%;
  margin: 0 auto;
}

section#habilidades .sckills {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  width: 50%;
}

#habilidades .sckill {
  padding: 20px;
  width: 110px;
  transition: 0.5s;
  border: 2px solid transparent;
}

#habilidades .sckill img {
  width: 50px;
  height: 50px;
}

#habilidades .sckill:hover {
  /* transform: scale(1.1); */
  border: 2px solid var(--details);
  border-radius: 10px 2px;
}

.resumo {
  color: var(--blue-light);
  /* width: 50%; */
  height: 70px;
  text-align: justify;
  padding: 20px;
  transition: all 2s;
}

#projetos {
  text-align: center;
}

#projetos .projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.project {
  margin-top: 50px;
  background: var(--blue-light);
  text-align: justify;
  border-radius: 8px;
  width: 320px;
  min-height: 400px;
  position: relative;
  transition: 1s;
}
.project .capa {
  position: relative;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
}

.project .capa img {
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
  border-radius: 8px;
}

.project .infors {
  padding: 15px;
  color: var(--blue-dark);
}

.project .infors p {
  margin-block: 15px;
  min-height: 125px;
}

.project .infors .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.project .tecs span {
  border-radius: 8px;
  margin-top: 200px;
  color: var(--details);
  font-size: 14px;
  text-transform: uppercase;
}

.capa .background {
  position: absolute;
  border-radius: 8px 8px 0 0;
  background-color: rgba(0, 0, 0, 0.651);
  width: 100%;
  height: 100%;
}

#projetos:has(.project:hover) .project:not(:hover) {
  opacity: 0.6;
  scale: 0.99;
}

#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#contato p {
  width: 80%;
  margin: 0 auto;
}

#contato a {
  background-color: transparent;
  padding: 10px;
  letter-spacing: 2px;
  border-radius: 5px;
  border: 2px solid var(--blue-dark);
  cursor: pointer;
  margin-top: 20px;
}

#contato a:hover {
  border-style: solid;
  background: var(--blue-dark);
  color: var(--blue-light);
  transition: 0.5s;
}

.social {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  bottom: 0;
  left: 40px;
}

.social .barra {
  height: 50px;
  width: 2px;
  background-color: var(--details);
}

.social a {
  display: flex;
  padding: 3px 3px 3px 0;
  border: 2px solid transparent;
}

.social a:hover {
  border-bottom: 2px solid var(--details);
}

@media (max-width: 1120px) {
  #projetos .projects {
    grid-template-columns: 1fr 1fr;
    margin: auto;
    align-items: center;
  }
}

@media (max-width: 850px) {
  #projetos .projects {
    justify-content: center;
    gap: 10px;
    width: 80%;
  }
  #projetos .project {
    width: 100%;
    margin: auto;
  }

  #sobre {
    flex-direction: column;
    width: 90%;
    justify-content: center;
  }
  section#sobre .sobre-mim,
  section#sobre .perfil {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  section#sobre .perfil img {
    border-radius: 100%;

    display: flex;
    border: 3px solid var(--blue-dark);
    margin: auto;
  }
}

@media (max-width: 730px) {
  #projetos .projects {
    grid-template-columns: 1fr;
    margin: auto;
    align-items: center;
    gap: 30px;
    width: 80%;
  }
  #projetos .project {
    width: 70%;
    margin: auto;
    min-width: 243px;
  }

  section#habilidades {
    flex-direction: column;
  }
  section#habilidades .resumo {
    display: none;
  }
}
