.mobile-menu {
  height: 100%;
  /* background-color: #0f172ac4; */
  background-color: var(--blue);
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.mobile-menu .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  padding-inline: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 7;
  color: var(--blue-dark);
  background: transparent;
  font-size: clamp(1.4rem, 1.6rem, 2vw);
}

header.ativarCor {
  background: var(--blue);
}

header h1 {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 2px;
}

header h1 span,
section#home p span {
  color: var(--details);
}

header ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

header .icon-menu {
  display: none;
  cursor: pointer;
}

header a {
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
  letter-spacing: 5px;
}

header a:hover {
  /* color: var(--details); */
  border-bottom: 1px solid var(--details);
}

@media (max-width: 1000px) {
  header a,
  header h1 {
    letter-spacing: 1px;
  }
}

@media (max-width: 880px) {
  header ul {
    display: none;
  }
  header .icon-menu {
    display: block;
  }
}
@media (max-width: 500px) {
  header {
    padding-inline: 1.5rem;
  }
}
