* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  color: var(--color);
}

html {
  --primary-color: #0f172a;
  --background: #f0f0f0;
  --bg-menu: rgba(153, 181, 205, 0.5);
  --primary: #b5c9da;
  --bgblue-medium: #d5e1ea;
  --blue-linght: #f6f9fa;
  --color2: #3d607d;
  --color: #223647;
  --menu-dark: #344864f1;
  --dark: #000b2d;
}

body {
  color: var(--color);
  background: linear-gradient(
    var(--primary),
    var(--bgblue-medium),
    var(--blue-linght)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--color);
}

span {
  color: var(--details);
}

h2 {
  margin-bottom: 20px;
}

#topo {
  position: absolute;
  top: 0;
}

.topo {
  background-color: var(--color2);
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 15px;
  border-radius: 10px;
  padding: 8px;
  z-index: 6;
  display: none;
}

.topo img {
  width: 100%;
}

.topo:hover {
  transform: scale(1.05);
  background-color: var(--color);
}

main {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 50px auto;
}

section {
  /* max-width: 90%; */
  margin: 50px auto;
  padding-top: 90px;
  min-height: 100vh;
}

.typing_animation {
  display: flex;
  white-space: nowrap;
  margin: 0 auto;
  overflow: hidden;
  font-weight: 700;
  width: 240px;
  animation: blinkCursor 500ms steps(40) infinite normal,
    typing infinite steps(30) 2.5s normal;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 230px;
  }
}

@keyframes blinkCursor {
  from {
    border-right: 2px solid #334f67;
  }
  to {
    border-right-color: transparent;
  }
}

.mode-dark {
  background: var(--primary-color);
  background-attachment: fixed;
  color: var(--blue-linght);
}

.mode-dark header a {
  color: var(--blue-linght);
}

.mode-dark header.ativarCor {
  background-color: #000b2d;
}

.mode-dark span {
  color: var(--color2);
}

.mode-dark header h1 div {
  color: var(--blue-linght);
}

.mode-dark #sobre .perfil img {
  border-color: var(--dark);
}

.mode-dark footer div {
  color: var(--blue-linght);
}

.mode-dark section#contato a,
.mode-dark section#home button {
  color: var(--blue-linght);
  border-color: var(--blue-linght);
}

.mode-dark .mobile-menu {
  background-color: var(--dark);
}
